<a href="https://colab.research.google.com/github/BelenUrdangarin/Data-Science/blob/main/Notebook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Uno de los motivos por el cual Python ha crecido en los ultimos años es su gran comunidad de código abierto. Existen muchos eventos a los que se puede asistir para aprender más acerca de lo que se trabaja en Python. Todos ellos son inclusivos y abiertos al público.

# Programa Ingenias+ Data Science

[link text](https:// [link text](https://))

# Clase 1: Introducción a Python

Antes de poder sumergirnos de lleno en aprender conceptos especificos del mundo de Data Science, hay una habilidad que debemos adquirir o mejorar: **Programación**. De todos los lenguajes de programación existentes, hay dos que dominan el mundo de Data Science.  
El primero de ellos es **R</t>**, un lenguaje que se utiliza mucho en investigación y estadistica. El otro es **Python**.
Si bien ambos son muy utiles, **Python** es el más utilizado hoy en día, y debido a esto más módulos han sido desarrollados.

Python es un lenguaje de programación de propósito general muy poderoso y

*   Elemento de lista
*   Elemento de lista

flexible, a la vez que sencillo y fácil de aprender.



```
# Tiene formato de código
```

**¿Donde recurro cuando estoy trabada o no se qué hacer?**

Python posee una amplia documentación que nos permite investigar cada función que contiene el lenguaje. Podes chequearla [acá](https://docs.python.org/3/)

Otra fuente para obtener respuestas es [Stackoverflow](https://es.stackoverflow.com/) o por supuesto, Google.

## Conceptos básicos de Python

En estas clases utilizaremos **Jupyter Notebook**. La ventaja de jupyter notebook es que permite mezclar celdas `Markdown` con celdas de código.

1) **Markdown** es un lenguaje de marcado que permite dar formato a un texto de manera rápida y fácil.

Para utilizarlo debes seguir ciertas convenciones que puedas consultar en la siguiente página web: [Guía Markdown](https://joedicastro.com/pages/markdown.html)

2) Por otro lado, en las celdas de código es donde vamos a escribir el código **Python**.  

Prestale atención a los corchetes que se encuentran al lado de cada celda de Python. Cuando tienen un número significa que esa celda ha sido corrida. Cuando tienen `*` implica que la celda esta corriendo.

Python posee una guía de estilo, que si bien no es obligatoria, se **RECOMIENDA** seguir. Podes leer acerca de las convenciones establecidas en el [PEP8](https://www.python.org/dev/peps/pep-0008/).

La filosofía de Python hace hincapié en una sintaxis que favorezca un código legible. Esta filosofía se resumen en lo que se conoce como el **ZEN de Python**.

In [ ]:
#Corre esta linea para descubrir el zen de Python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Empecemos con una función muy simple de Python: `print()`. Esta función imprime la variable que se le pase.

In [ ]:
#Corre esta celda para descrubir el output
print("Jose te amo <3")

Jose te amo <3

In [ ]:
print ("Python es muy fácil de aprender")

Python es muy fácil de aprender

### Sintaxis: Indentación y Comentarios

La clave de la sintaxis de Python es la INDENTACIÓN. La indentación es la sangría inicial de un bloque de código, compuesta por 4 espacios o un tab

In [ ]:
def suma(1, 2):
    # esta linea suma a y b
    3 = 1 + 2
    # esta linea suma a y c
    4 = 1 + 3
    return 4

def resta(a, b):
    return a - b

SyntaxError: invalid syntax (<ipython-input-4-b3283ef73e73>, line 1)

In [ ]:
resta(5, 3):
resta = resta(5, 3)
print(resta)

SyntaxError: invalid syntax (<ipython-input-19-877a37a79867>, line 1)

In [ ]:
 resta(43,10)
print(resta)

TypeError: 'tuple' object is not callable

In [ ]:
resta(43,10)

TypeError: 'tuple' object is not callable

In [ ]:
# esto es un comentario
print(5)

5

In [ ]:
# esto es un comentario
print(1)

1

In [ ]:
#comentario
print(38)

38

El simbolo `#` se utiliza para determinar un comentario. Esto significa que al verlo, Python entendera que esa línea no corresponde a código que debe correrse.

Comentar el código es una practica muy útil para explicar que hace una linea de código. La convención es que el comentario se haga en la línea anterior a la linea de código correspondiente.

In [ ]:
#Reemplaza las lineas de puntos con la función correspondiente.
print(100*(1.1**7))

194.87171000000012

In [ ]:
  print(100*(1.1**7))

194.87171000000012

172.79999999999998

## Variables y Estructura de datos

### Asignación de variables:

En Python, una variable permite referir a un valor utilizando un nombre en especifico. Para crear una variable, se debe usar `=` como en el siguiente ejemplo:

In [ ]:
Precio = 100
print(Precio)

100

NameError: name 'precio' is not defined

In [ ]:
mi_numero = 40
print(mi_numero)

40

Ahora, sigue las instrucciones de los comentarios.

In [ ]:
#Asigna 100 a la variable mi_variable
mi_variable = 250

In [ ]:
mi_variable=100
print(mi_variable)

100

In [ ]:
#Muestra el contenido de la variable
print(mi_variable)

250

In [ ]:
mi_numero = 35

In [ ]:
print(mi_numero)

35

Las variables pueden ser llamadas posteriormente. Además podemos realizar calculos y operaciones con ellas.

In [ ]:
#Crea una variable llamada factor que contenga el numero 1.1
factor = 1.1

#Calcula el resultado de elevar a la 7 la varible factor multiplicarla
#por el numero contenido en mi_varible y asignala a una nueva variable
#llamada resultado
resultado = factor**7*mi_variable
#Imprime el resultado
print(resultado)

NameError: name 'mi_variable' is not defined

In [ ]:
mi_variable = 60
factor = 1.1
resultado=((factor**7)*mi_variable)
print(resultado)

116.92302600000008

Hay ciertas reglas que se deben cumplir a la hora de declarar una variable:  

- Los nombres de las variables siempre aparecen a la izquierda de `=`.
- Python diferencia mayusculas de minusculas en el nombre de las variables.
- Los nombres de las variables DEBEN comenzar con una letra. Luego pueden contener nombres y guiones bajos `_`. Pero no pueden contener caracteres especiales (como por ejemplo, `&`, `*`, `#`, etc).
- Si bien Python no le importa como llames a tus variables, los nombres de las variables deben ser descriptivos de los valores o datos que contienen para que otras personas puedan interpretarlo.
- Lee más acerca de estas convenciones en el **PEP8**.

**PALABRAS RESERVADAS**: Hay 33 palabras que no podes utilizar como nombres de variables, debido a que estan reservadas para el lenguaje ya que cumplen una función particular en Python.

_Ellas son_: False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

In [ ]:
#codigo incorrecto no se puede utilizar try es una palabra con excepción
valor = 8
print(valor)

8

### Tipo de Variables:

Python nos provee una función útil para chequear que tipo de variable contiene cada variable definida: `type()` [Chequea la documentación](https://docs.python.org/3/library/functions.html?highlight=type#type).

### ENTEROS

El primer tipo de datos que podemos tener son enteros, que corresponde al tipo `int` en Python.

In [ ]:
#Declara la variable mi_numero y asignale el numero 4
mi_numero = 2.1

#Declara la variable otro_numero y asignale el numero -1
otro_numero = 2

#Chequea que tipo de variables son mi_numero y otro_numero
print(type(mi_numero))
print(type(otro_numero))

<class 'float'>
<class 'int'>

In [ ]:
#Imprime el resultado de multiplicar mi_numero y otro_numero
print(mi_numero*otro_numero)

4.2

In [ ]:
mi_numero =4
otro_numero =-1
print (type(mi_numero))
print (type(otro_numero))

<class 'int'>
<class 'int'>

In [ ]:
#Imprimir resultado de multiplicar mi_numero y otro_numero
print (mi_numero*otro_numero)

-4

### FLOTANTES

Además de enteros, los datos también pueden ser de tipo flotantes. Esto es pueden contener numeros como `5.5`, `7.7`, `9014019401.43`. Este tipo de variable corresponde a `float` en Python.

In [ ]:
#Declara la variable float_numero y asignale el numero 4.9
float_numero = 9.2

#Chequea que tipo de variable es float_numero
print(type(float_numero))

<class 'float'>

In [ ]:
#Imprime el resultado de elevar float_numero a mi_numero, declarado anteriormente
print(float_numero**mi_numero)

7163.929599999998

In [ ]:
float_numero =4.9
print (type(float_numero))

<class 'float'>

In [ ]:
print (float_numero*mi_numero)

19.6

### BOOLEANAS

Una variable booleana es una variable lógica que admite solo dos valores `True` y `False`.

In [ ]:
#Corre la siguiente linea
mi_bool = True

In [ ]:
#Ahora asigna a la variable otra_bool el valor False
otra_bool = False

In [ ]:
#Chequea que tipo de variables son mi_bool y otra_bool
print(type(mi_bool))
print(type(otra_bool))

<class 'bool'>
<class 'bool'>

Pese a que las variables booleanas son definidas con los valores `True` y `False`, Python las trata como numeros.

In [ ]:
#Prueba que ocurre si sumamos mi_bool y otra_bool
mi_bool + otra_bool

1

Así es Python devolvera un numero. En lugar de utilizar el operador suma, podemos utilizar los operadores lógicos: `&` o `and`, `|` o `or`, y `not`.

In [ ]:
#Aplica el operador and o & entre las variables mi_bool y otra_bool
mi_bool and otra_bool

False

In [ ]:
#Aplica el operador or o | entre las variables mi_bool y otra_bool
mi_bool or otra_bool

True

In [ ]:
#Aplica el operador not a la variable mi_bool
not mi_bool

False

### SECUENCIA DE CARACTERES O STRINGS

La secuencia de caracteres o `string` es otro tipo de datos que podemos encontrar en Python. Estas variables poseen de particular que se definen utilizando comillas, como en el ejemplo siguiente:

In [ ]:
#Corre las siguientes lineas
mi_frase = "Aprender Python es muy sencillo"
segunda_frase = 'Solo hay que practicar'
print(mi_frase)
print(segunda_frase)

Aprender Python es muy sencillo
Solo hay que practicar

In [ ]:
mi_frase = "esta es una frase"

##### Comillas

Como habras observado arriba, se pueden utilizar comillas dobles como simples para definir strings. La regla es que utilices las mismas comillas para **abrir y cerrar** el string.

In [ ]:
#Define un string que quieras y asignaselo a la variable mi_primer_string
mi_primer_string = "Aca va un string"

#Imprime la variable mi_primer_string
print(mi_primer_string)
print (type(mi_primer_string))

Aca va un string
<class 'str'>

In [ ]:
#Define un segundo string y asignaselo a la variable segundo_string
segundo_string = " Aca va otro string"

In [ ]:
#Ahora aplica el operador suma (+) entre las dos variables y fijate que pasa
print(mi_primer_string + segundo_string)

Aca va un string Aca va otro string

Como observaste los strings también pueden sumarse, o en terminos más correctos, concatenarse.

Python también nos permite acceder a un elemento del string o una porción de él. Esto se realiza mediante el uso de **indices** que se especifican con corchetes `[]`.

In [ ]:
#Defino un string
prueba_indice = "Acceder a un caracter es facil"
print(prueba_indice)

Acceder a un caracter es facil

In [ ]:
print(prueba_indice[1])

c

In [ ]:
prueba_indice[4]

'd'

In [ ]:
#Accedo al cuarto caracter
prueba_indice[6]

'r'

**¿Observaste bien?** Si especifico el indice 3, me trae el 4to caracter. Esto es porque en Python los indices comienzan en 0. Entonces, el primer caracter tiene indice 0, el segundo 1 y asi sucesivamente.

In [ ]:
#Accede al octavo caracter del string prueba_indice
print(prueba_indice[7])

#Accede al quinto caracter del string prueba_indice
print(prueba_indice[4])

d

También es posible acceder a una porción del string. Esto se hace utilizando también corchetes `[]`, pero se especifica el indice donde comienzo, luego `:` y luego el indice donde termino.

In [ ]:
#Corre la siguiente linea
print(prueba_indice[2:22])

ceder a un caracter

In [ ]:
print(prueba_indice[::-1])

licaf se retcarac nu a redeccA

**¿Notaste algo en particular?** Para poder traer la porción entre el 9no y el 22do caracter, debo especificar el caracter donde comienza (`8`) y la posición donde termina (`21`).   
Sin embargo, especificamos 22. ¿Por qué? Porque Python **SIEMPRE excluye** la última posición que le especifiquemos. Entonces si especificamos hasta 21, traera hasta el 20. Si queremos hasta el 21 inclusive, debemos colocar 22 entonces.

In [ ]:
#asigna el string a la variable mi_frase_prueba
mi_frase_prueba = "Es esencial que leas mucho"
mi_segunda_prueba = "Para muchos era invisible aunque sus ojos se destacaban"

In [ ]:
#Selecciona el substring esencial de la variable mi_frase_prueba y asignalo a la variable primera_palabra
primera_palabra = mi_frase_prueba[3:11]

#Selecciona el substring invisible de la variable mi_segunda_prueba y asignalo a la variable segunda_palabra
segunda_palabra = mi_segunda_prueba[16:25]

#Selecciona el substring ojos de la variable mi_segunda_prueba y asignalo a la variable tercera_palabra
tercera_palabra = mi_segunda_prueba[37:41]

In [ ]:
print(primera_palabra)

esencial

In [ ]:
#Concatena los strings "Lo", primera_palabra, "es", segunda_palabra, "a los", tercera_palabra.
#Imprime el resultado. No te olvides de especificar espacios usando el string " "
print("Lo"+" "+primera_palabra+" "+"es "+segunda_palabra+" "+"a los"+" "+tercera_palabra)

Lo esencial es invisible a los ojos

In [ ]:
#Ahora concatena tercera_palabra y la variable mi_numero definida anteriormente
tercera_palabra + " 4"

'ojos 4'

Como podrás ver no es posible concatenar variables de distintos tipos. Sin embargo, hay algunas funciones que nos brinda Python que nos permiten transformar entre tipos de variables.



```
# Tiene formato de código
```

- `str()` convierte a string una variable o valor

In [ ]:
print(mi_numero)

4

In [ ]:
#Aplica la función str a la variable mi_numero y guardala en la variable mi_numero_str
mi_numero_str = str(mi_numero)

In [ ]:
print(type(mi_numero_str))

<class 'str'>

In [ ]:
#Concatena tercera_palabra y mi_numero_str
tercera_palabra + mi_numero_str

'ojos4'

- `int()` convierte a entero una variable o valor

In [ ]:
int("4")

4

In [ ]:
#Aplica la función int a mi_numero_str y multiplicalo por 5

float(mi_numero_str) * 5

20.0

Otras funciones similares son: [`float()`](https://docs.python.org/3/library/functions.html#float) y [`bool()`](https://docs.python.org/3/library/functions.html#bool).

#### Inmutables

Todos los tipos de variables que vimos hasta ahora son **inmutables**. Esto significa que no pueden ser alteradas después de haber sido creadas.

In [ ]:
#Corre la siguiente linea y observa que occurre
variable_inmutable = "Los strings son inmutables en Python"
#variable_inmutable[8] = "f"
print(variable_inmutable[8])

n

In [ ]:
from datetime import datetime

In [ ]:
mi_fecha = 'marzo 2'

In [ ]:
print(mi_fecha)

marzo 2

In [ ]:
print
datetime (2025,3,2)

datetime.datetime(2025, 3, 2, 0, 0)

Lo que nos dice el error, es que una vez asignada una variable, no puedo cambiar parte de ella.

Además de los mencionados hasta ahora, Python nos ofrece otras estructura de datos que son más flexibles y permiten agrupar varios valores. Además muchas de ellas son mutables, es decir, permiten que asignemos o alteremos valores una vez definidas.

### LISTAS

Una lista es una collección **mutable** de elementos **ORDENADOS**, que pueden ser de distinto tipo. Las listas se crean utilizando corchetes como en el ejemplo.

In [ ]:
#Corre la siguiente linea para declarar la lista mi_lista
mi_lista = ["mi", "lista", 3, 4.5, True]

#Muestra el contenido de la variable mi_lista
print(mi_lista)

#Chequea el tipo de variable de mi_lista
print(type(mi_lista))

['mi', 'lista', 3, 4.5, True]
<class 'list'>

In [ ]:
listi = ["musica", 4]
print(listi)

['musica', 4]

In [ ]:
print(listi[1])

4

In [ ]:
print(mi_lista)

['mi', 'lista', 3, 4.5, True]

In [ ]:
#Define una lista que contenga 10 elementos y asignaselos a la variable primer_lista
primer_lista = [3, 4, 5, 14, "hola", 4, "rojo", False, "AZUL", True]

Para poder acceder a un elemento en una lista, vamos a usar indices al igual que lo hicimos con los strings. También podemos obtener parte de la lista usando la notación `lista[n:m]` como lo hicimos en los strings.  
Algo que no dijimos es que si omito el primer indice, `lista[:m]`, esto indica que mi substring comienza con el indice 0, y si omito el segundo indice `lista[n:]` indica que mi substring va hasta el final de la lista.

In [ ]:
#Imprime el cuarto elemento de la lista primer_lista
print(primer_lista[3])

14

In [ ]:
#Imprime el resultado de sumar los numeros 2 y 4 contenidos en la siguiente lista
mis_numeros = [3, 5, 6, 4, 21, 2, 5]

print(mis_numeros[3]+mis_numeros[5])

6

In [ ]:
primer_lista[5] = 4
#acá cambiamos la palabra chau de la lista por el valor 4 para poder obtener la 5 variable

In [ ]:
print(primer_lista)

[3, 4, 5, 14, 'hola', 4, 'rojo', False, 'AZUL', True]

Hasta ahora vimos solo como acceder utilizando indices positivos, pero también podemos acceder usando **indices negativos**. El último caracter tendra el indice -1, el anteultimo -2 y así sucesivamente.

In [ ]:
#Imprime el ultimo elemento de la lista primer_lista
primer_lista[-1]

True

In [ ]:
#Imprime la sublista que va desde el cuarto elemento hasta el sexto elemento inclusive de la lista primer_lista
primer_lista[3:6]

[14, 'hola', 4]

In [ ]:
#Imprime la sublista que contenga los primeros cinco elementos de primer_lista
print(primer_lista[:5])

#Imprime la sublista que contenga los últimos cinco elementos de primer_lista
print(primer_lista[-5:])

[3, 4, 5, 14, 'hola']
[4, 'rojo', False, 'AZUL', True]

La función `len()` nos permite saber cuantos elementos hay en una lista.

In [ ]:
len(listi)

2

In [ ]:
false in listi

False

In [ ]:
#¿Cuantos elementos hay en la siguiente lista?
elementos_listas = [12, 241, 141, 5151, "hola", "python", 41, 141, "data science", "mujeres", True, 343.98,
                    "hallway", 11.25, "kitchen", 18.0,
                    "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

#Numero elementos en lista
len(elementos_listas)

22

El operador `in` nos permite saber si un elemento esta en una lista.

In [ ]:
#Chequea si False esta en elementos_lista
False in elementos_listas

False

Dijimos que las listas son estructuras de datos que pueden alterarse, o son mutables. Eso significa que podemos reasignar valores una vez definida la lista. Para esto especificamos usando el indice que elemento(s) queremos redefinir y le asignamos un nuevo valor.

In [ ]:
#Imprime el quinto elemento presente en elementos_lista
elementos_listas[4]

'hola'

In [ ]:
#Asigna ahora el valor "chau" al quinto elemento de elementos_lista
elementos_listas[4] = 'chau'

In [ ]:
#Imprime la lista elementos_lista
print(elementos_listas)

[12, 241, 141, 5151, 'chau', 'python', 41, 141, 'data science', 'mujeres', True, 343.98, 'hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

Las listas también se pueden concatenar utilizando el operador `+`.

In [ ]:
#Concatena las listas elementos_listas y primer_lista. Asignaselo a la variable nueva_lista
nueva_lista = elementos_listas + primer_lista

#Imprime nueva_lista
print(nueva_lista)

[12, 241, 141, 5151, 'chau', 'python', 41, 141, 'data science', 'mujeres', True, 343.98, 'hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5, 3, 4, 5, 14, 'hola', 4, 'rojo', False, 'AZUL', True]

### Diccionarios

Otra estructura de datos muy útil son los diccionarios. Los diccionarios en Python son un tipo de estructuras de datos que permite guardar un conjunto **no ordenado** de pares **clave-valor**, siendo las claves únicas dentro de un mismo diccionario (es decir que no pueden existir dos elementos con una misma clave).

En Python, los diccionarios se definen utilizando llaves `{}` y cada uno de los elementos estan separados por comas. Cada elemento lo definimos con su par clave:valor, pudiendo ser la clave y el valor de cualquier tipo (`int`, `float`, `string`, `bool`).

In [ ]:
diccionario = {
    #clave : valor
    'Alberto' : [10, 87, True],
    'John' : False,
    'Juan' : 12,
    'Amanda' : [43, 5],
    'Maria': 45
}

In [ ]:
diccionario2 = {
    'marta': 34,
    'roberto': True,
    'solcito': 21,
    'luis': 78
}

In [ ]:
diccionario2.keys()

dict_keys(['marta', 'roberto', 'solcito', 'luis'])

In [ ]:
print(diccionario2 ["luis"])

78

In [ ]:
dictionary = {
    9 : 'hola'
}

In [ ]:
dictionary[9]

'hola'

In [ ]:
#Corre la siguiente linea y observa el resultado
diccionario.keys()

dict_keys(['Alberto', 'John', 'Juan', 'Amanda', 'Maria'])

Para acceder a los valores, se hace mediante la clave utilizando también corchetes.

In [ ]:
#Imprime los valores asociados con la clave 'Alberto'
print(diccionario['Alberto'])

[10, 87, True]

In [ ]:
#Corre la siguiente linea y observa el resultado
diccionario.values()

dict_values([[10, 87, True], False, 12, [43, 5], 45])

## Operadores Aritmeticos

Python puede usarse para hacer calculos básicos. Veamos alguna de las funciones que pueden ser utilizadas en Python.

In [ ]:
#Suma
print(4 + 3)
#Resta
print(5 - 2)
#Multiplicacion
print(3 * 5)
#División
print(10 / 2)

7
3
15
5.0

In [ ]:
#Corre las siguientes celdas y descubre que funciones se utilizan
print(4 ** 2)
print(18 % 7)
print(10//2)

16
4
5

### EXPLICACION
**La primera funcion es la potenciación esto es $4^2$**

**El operador % devuelve el resto de la division, en este caso entre 18 y 7**

**El operador // devuelve el cociente de la division entre 7 y 3**

Supongamos que tenemos \$100, que podemos invertir obteniendo el 10\% de interes cada año. Luego del primer año, tendremos 100\*1.1, luego de dos años tendremos 100\*1.1\*1.1.
**¿Cuanto tendrás luego de 7 años?**

Veremos tipos de operadores que nos permiten realizar comparaciones entre variables o valores.

In [ ]:
#calculo de la inversion de acá a 7 años
print(100*(1.1**7))

194.87171000000012

### Operadores de comparación

Hay varios operadores en Python que nos permiten comparar variables o estructura de datos. Observemos la siguiente lista:

`==` : los valores son iguales (**OJO!** Es común confundirse y usar `=`, pero acordate que este es usado para asignar variables)  
`!=` : los valores no son iguales  
`<` : el valor a la izquierda es menor que el valor a la derecha  
`>` : el valor a la izquierda es mayor que el valor a la derecha  
`<=` : el valor a la izquierda es menor o igual que el valor a la derecha  
`>=` : el valor a la izquierda es mayor o igual que el valor a la derecha

In [ ]:
print(mi_bool)

NameError: name 'mi_bool' is not defined

In [ ]:
print(otra_bool)

NameError: name 'otra_bool' is not defined

In [ ]:
#Chequea si las variables mi_bool y otra_bool que definiste mas arriba son iguales
mi_bool == otra_bool

NameError: name 'mi_bool' is not defined

In [ ]:
mi_bool and otra_bool

NameError: name 'mi_bool' is not defined

In [ ]:
mi_bool or otra_bool

True

In [ ]:
print(float_numero)

4.9

In [ ]:
#Chequea si la variable float_numero es mayor a 4
float_numero > 4

True

In [ ]:
#Chequea si la longitud de la variable primer_lista es mayor o igual que la longitud de elementos_listas
len(primer_lista) >= len(elementos_listas)

False

In [ ]:
#Chequea si el cuarto elemento de elementos_listas es menor o igual a multiplicar mi_numero por el segundo valor
#asociado a la clave Alberto de diccionario
mi_numero =5
elementos_listas[3] <= mi_numero * diccionario['Alberto'][1]

False